* {
    margin: 4px;
    padding: 3px;
}

body {
    font-family: 'poppins', sans-serif;
    max-height: 100vh;
    background-color: aqua;
}

header {
    padding: 1.7rem 1rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    align-items: center;
}

.logo {
    font-size: 1.3rem;
    font-weight: 800;
}

.logo a {
    color: #52373d;
    text-decoration: none;
}

nav a {
    color: #f5f7f9;
    text-decoration: none;
    font-size: .97rem;
    font-weight: 600;
    letter-spacing: .7px;
    padding: 1rem;
    padding: 0.4rem 1rem;
    background-color: rgb(28, 117, 158);
    border-radius: 20px;
}


nav a.active,
nav a:hover {


    background-color: #244D61;

    color: #fff;


    border-radius: 7rem;
    transition: all.35 case-in-out;
}

#click {
    display: none
    
    
        ;



}

.menu {
    display: none;
}

section {
    margin: 2rem 8.5rem;


    ;
}


.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
}

.main h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.main p {
    margin-top: 1rem;
    font-size: .98rm;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.7rem;
}

.social a {
    color: #244D61;
    font-size: 1rem;
    border: 1.6px solid #244D61;
    border-radius: 50%;
    padding: .35rem;
    text-align: center;
    width: 26px;
}

.social a:hover {
    color: #fff;
    background-color: #244D61;
    transition: all .3s ease-in-out;
}

.main h1 span:nth-child(1) {
    font-size: 1.5rem;
}

.images {

    background-image: url(/img3.jpeg);
    background-repeat:repeat;
    background-position: 0 9875px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;

}

@media only screen and(max-width:480px) {
    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #244D61;
    }

    header {
        padding: 0.7rem 1rem;
        align-items: center;
        max-width: 100%;
    }

    nav {
        position: absolute;
        display: grid;
        top: 75px
        ;
        width: calc(100% - 40px);
        text-align: center;
        background-color: #fff;
    }

    #click:checked~nav {
        left: 0%;
    
    
        transition: all 0.3s ease;
    }


    section {
        margin: 1rem 1.5rem;
    }
    
}
@import url('https://fonts.googleapis.com/css2?family=poppins:wght@100;200;300;400;500;600;700;800&display=swap');















































































































































































































































































































































































































































































































































































